{# Collecting media #}
{% set mediaIds = [] %}
{% for group in configuratorSettings %}
    {% for option in group.options %}
        {% if option.translated.customFields.moorl_pl_image %}
            {% set mediaIds = mediaIds|merge([option.translated.customFields.moorl_pl_image]) %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% if mediaIds|length >= 1 %}
    {% set mediaCollection = searchMedia(mediaIds, context.context) %}
{% endif %}

{% for group in configuratorSettings %}
    <fieldset
            class="js-group configurator-group configurator-group-locked"
            data-identifier="{{ identifier }}"
            data-technical-name="{{ partsListConfigurator.getMappingName(group.id) }}"
            data-logical="{{ logical }}"
            data-preview="{{ preview }}"
            data-name="{{ group.translated.name }}"

    >
        <legend class="h3">
            <span data-step class="configurator-group-step">
                <svg fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"></path></svg>
            </span>
            {{ 'component.product.configurator.legend'|trans({ '%group_name%': group.translated.name, '%hidden_cls%': 'visually-hidden' })|sw_sanitize }}
        </legend>

        <div class="configurator-selection-group configurator-v-spacer">
            {% for option in group.options %}
                {% if elementId is defined and elementId is not null %}
                    {% set optionIdentifier = [group.id, option.id, elementId]|join('-') %}
                {% else %}
                    {% set optionIdentifier = [group.id, option.id]|join('-') %}
                {% endif %}

                {% set isActive = false %}

                {% if option.id in product.optionIds %}
                    {% set isActive = true %}
                {% endif %}

                {% if option.configuratorSetting.media %}
                    {% set displayType = 'media' %}
                    {% set media = option.configuratorSetting.media %}
                {% else %}
                    {% set displayType = group.displayType %}
                    {% if option.media %}
                        {% set media = option.media %}
                    {% else %}
                        {% set media = false %}
                    {% endif %}
                {% endif %}

                <div
                        class=""
                        data-position="{{ option.translated.position }}"
                        {% if option.translated.customFields.moorl_pl_image %}
                            data-moorl-hover-card="true"
                            data-moorl-hover-card-options="{{ {
                                template: "#popover-#{optionIdentifier}",
                                placement: "top"
                            }|json_encode }}"
                        {% endif %}
                >
                    <input
                            type="radio"
                            name="{{ group.id }}"
                            value="{{ option.id }}"
                            class="configurator-check"
                            id="{{ optionIdentifier }}"
                            aria-labelledby="{{ optionIdentifier }}-label"
                            {% if isActive %}checked="checked"{% endif %}
                            data-logical="{{ logical }}"
                            data-technical-name="{{ partsListConfigurator.getMappingName(option.id) }}"
                            data-description="{{ option.translated.customFields.moorl_pl_description }}"
                            data-preview="{{ media.url }}"
                            data-name="{{ option.translated.name }}"
                    >

                    <label
                            class="configurator-card"
                            {% if displayType == 'color' and option.colorHexCode %}style="background-color: {{ option.colorHexCode }}"{% endif %}
                            title="{{ option.translated.name }}"
                            id="{{ optionIdentifier }}-label"
                            for="{{ optionIdentifier }}"
                            aria-hidden="true"
                    >
                        {% if displayType == 'media' and media %}
                            {% sw_thumbnails 'configurator-option-img-thumbnails' with {
                                media: media,
                                sizes: {
                                    default: '120px'
                                },
                                attributes: {
                                    class: '',
                                    role: 'presentation',
                                }
                            } %}
                        {% endif %}

                        {% if displayType == 'media' and media or displayType == 'color' and option.colorHexCode %}
                            <span class="visually-hidden">{{ option.translated.name }}</span>
                        {% endif %}

                        <span class="my-4">{{ option.translated.name }}</span>

                        {% if not option.combinable %}
                            <small class="visually-hidden">({{ 'detail.unavailableTooltip'|trans|sw_sanitize }})</small>
                        {% endif %}
                    </label>
                </div>

                {% if option.translated.customFields.moorl_pl_image %}
                    {% set popoverMedia = mediaCollection.get(option.translated.customFields.moorl_pl_image) %}

                    <template id="popover-{{ optionIdentifier }}">
                        {% sw_thumbnails 'configurator-option-img-thumbnails' with {
                            media: popoverMedia,
                            sizes: {
                                default: '120px'
                            },
                            attributes: {
                                class: '',
                                role: 'presentation',
                            }
                        } %}
                    </template>
                {% endif %}
            {% endfor %}
        </div>

        <div style="display: none;" class="js-group-description configurator-group-description configurator-card configurator-v-spacer"></div>

        {% if logical %}
            <div class="js-logical-configurator"></div>
        {% endif %}
    </fieldset>
{% endfor %}
