{% set partsListConfigurator = page.partsListConfigurator %}
{% set config = {
    url: path('frontend.moorl.parts.list.configurator.detail', {partsListConfiguratorId: partsListConfigurator.id}),
    type: partsListConfigurator.type
} %}

<div
        class="cms-element-moorl-parts-list-configurator"
        data-moorl-parts-list-configurator="true"
        data-moorl-parts-list-configurator-options="{{ config|json_encode }}"
>
    <div class="product-detail-configurator-container">
        <div class="product-detail-configurator">
            <form>
                {% for filter in partsListConfigurator.getFilters %}
                    {% if not filter.fixed %}
                        {% sw_include "@MoorlPartsListConfigurator/plugin/moorl-parts-list-configurator/component/configurator.html.twig" with {
                            configuratorSettings: filter.propertyGroupOptions.groupByPropertyGroups,
                            logical: filter.logical,
                            identifier: filter.id,
                            accessoryList: page.partsList.filterByProductStreamIds(filter.productStreamIds)
                        } %}
                    {% endif %}
                {% endfor %}

                {% if partsList.count > 0 %}
                    <fieldset
                            data-hide-on-load
                            id="accessoryList"
                            class="mb-3"
                            style="display: none"
                    >
                        <legend class="h3">
                            {% if partsListConfigurator.type == 'calculator' %}
                                {{ "moorl-parts-list-configurator.accessoryList"|trans }}
                            {% else %}
                                {{ "moorl-parts-list-configurator.partsList"|trans }}
                            {% endif %}
                        </legend>

                        <div data-content></div>
                    </fieldset>
                {% endif %}
            </form>
        </div>
    </div>

    <div
            data-hide-on-load
            class="d-grid my-3"
            style="display: none"
    >
        <button
                class="js-load-button btn btn-outline-primary"
                aria-label="{{ "moorl-parts-list-configurator.load"|trans }}"
        >
            {{ "moorl-parts-list-configurator.load"|trans }}
        </button>
    </div>

    <fieldset
            id="partsList"
            style="display: none"
    >
        <legend class="h3">
            {{ "moorl-parts-list-configurator.calculatedPartsList"|trans }}
        </legend>

        <div data-content></div>
    </fieldset>
</div>
