{% block creator_page_header %}
    {% set creator = page.creator %}

    <div class="cms-element-creator-header">
        {% block creator_page_header_banner %}
            <div class="moorl-creator-banner"
                 {% if creator.avatar.customFields.moorl_creator_avg_color %}style="background-color: {{ creator.avatar.customFields.moorl_creator_avg_color }}" {% endif %}>
                {% if creator.banner %}
                    {% sw_thumbnails 'creator-banner' with {
                        media: creator.banner,
                        attributes: {
                            'class': '',
                            'alt': creator.translated.name,
                            'title': creator.translated.name
                        }
                    } %}
                {% endif %}
            </div>
        {% endblock %}

        {% block creator_page_header_container %}
            <div class="container p-0">
                <div class="row">
                    {% block creator_page_header_avatar %}
                        {% if creator.avatar %}
                            <div class="col-auto">
                                <div class="moorl-creator-avatar">
                                    {% sw_thumbnails 'creator-avatar' with {
                                        media: creator.avatar,
                                        attributes: {
                                            'itemprop': 'image',
                                            'class': '',
                                            'alt': creator.translated.name,
                                            'title': creator.translated.name
                                        }
                                    } %}
                                </div>
                            </div>
                        {% endif %}
                    {% endblock %}
                    <div class="col">
                        {% block creator_page_header_title %}
                            <h1 class="moorl-creator-title">
                                <span itemprop="name">{{ creator.translated.name }}</span>
                                {% if creator.translated.role %}
                                    <small itemprop="jobTitle">{{ creator.translated.role }}</small>
                                {% endif %}
                            </h1>
                        {% endblock %}

                        {% block creator_page_header_description %}
                            <div itemprop="description" class="moorl-creator-description">
                                {{ creator.translated.teaser }}
                            </div>
                        {% endblock %}

                        {% block creator_page_header_actions %}
                            <div class="moorl-creator-actions">
                                {% if creator.link %}
                                    <a class="btn btn-secondary" href="{{ creator.link }}"
                                       title="{{ "moorl-creator.link"|trans }}" rel="noopener" target="_blank">
                                        {{ "moorl-creator.link"|trans }}
                                    </a>
                                {% endif %}
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
