{% set partsListConfigurator = page.partsListConfigurator %}
{% set config = {
    url: path('frontend.moorl.parts.list.configurator.detail', {partsListConfiguratorId: partsListConfigurator.id}),
    type: partsListConfigurator.type
} %}

<div
        class="cms-element-moorl-parts-list-configurator"
        data-moorl-parts-list-configurator="true"
        data-moorl-parts-list-configurator-options="{{ config|json_encode }}"
>
    <div class="row">
        <div class="col-12 col-lg-8">
            <!-- configurator -->

            <h1 class="product-detail-name configurator-v-spacer" itemprop="name">
                {{ partsListConfigurator.translated.name }}
            </h1>

            <div class="product-detail-description configurator-v-spacer">
                {{ partsListConfigurator.translated.description|raw }}
            </div>

            <div class="product-detail-configurator-container">
                <div class="product-detail-configurator">
                    <form>
                        {% for filter in partsListConfigurator.getFilters %}
                            {% if not filter.fixed %}
                                {% sw_include "@MoorlPartsListConfigurator/plugin/moorl-parts-list-configurator/component/configurator.html.twig" with {
                                    configuratorSettings: filter.propertyGroupOptions.groupByPropertyGroups,
                                    logical: filter.logical,
                                    preview: filter.preview,
                                    identifier: filter.id,
                                    accessoryList: page.partsList.filterByProductStreamIds(filter.productStreamIds)
                                } %}
                            {% endif %}
                        {% endfor %}

                        {% if partsList.count > 0 %}
                            <fieldset
                                    data-hide-on-load
                                    id="accessoryList"
                                    class="mb-3"
                                    style="display: none"
                            >
                                <legend class="h3">
                                    {% if partsListConfigurator.type == 'calculator' %}
                                        {{ "moorl-parts-list-configurator.accessoryList"|trans }}
                                    {% else %}
                                        {{ "moorl-parts-list-configurator.partsList"|trans }}
                                    {% endif %}
                                </legend>

                                <div data-content></div>
                            </fieldset>
                        {% endif %}
                    </form>
                </div>
            </div>

            <div
                    data-hide-on-load
                    class="d-grid my-3"
                    style="display: none"
            >
                <button
                        class="js-load-button btn btn-outline-primary"
                        aria-label="{{ "moorl-parts-list-configurator.load"|trans }}"
                >
                    {{ "moorl-parts-list-configurator.load"|trans }}
                </button>
            </div>
        </div>

        <div class="col-12 col-lg-4">
            <!-- sticky sidebar with preview image, current selection and proxy cart -->
            {% set options = {
                isSticky: true
            } %}

            {% set sectionCss = [
                "position:sticky",
                "top:0"
            ] %}

            <div
                    style="{{ sectionCss|join(';')|raw }}"
                    data-moorl-grid
                    data-moorl-grid-options='{{ options|json_encode|raw }}'
            >
                <div class="configurator-card configurator-v-spacer">
                    {% sw_thumbnails 'configurator-preview-image' with {
                        media: partsListConfigurator.cover.media,
                        sizes: {
                            default: '120px'
                        },
                        attributes: {
                            id: 'previewImage',
                            class: 'configurator-preview-image',
                            role: 'presentation',
                        }
                    } %}
                </div>

                <fieldset
                        class="configurator-card configurator-v-spacer"
                        id="mySummary"
                >
                    <legend class="h3">
                        {{ "moorl-parts-list-configurator.mySummary"|trans }}
                    </legend>

                    <div data-content><i>{{ "moorl-parts-list-configurator.nothingSelected"|trans }}</i></div>
                </fieldset>

                <fieldset
                        class="configurator-card configurator-v-spacer"
                        id="partsList"
                        style="display: none"
                >
                    <legend class="h3">
                        {{ "moorl-parts-list-configurator.calculatedPartsList"|trans }}
                    </legend>

                    <div data-content></div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
