{% block input_el %}
    {% set optionSliderContent %}
        {% for product in page.products %}
            {% set optionName = "#{element.name}.#{product.parentId ?? product.id}" %}

            <div>
                <input
                        type="number"
                        id="{{ optionName }}"
                        name="{{ optionName }}"
                        value="0"
                >

                <label class="" for="{{ optionName }}">
                    {% if product.cover.media.url %}
                        {% if element.media.mimeType == "image/svg+xml" %}
                            {% set svgLoaderOptions = {
                                src: product.cover.media.url,
                                attributes: {
                                    id: product.cover.media.id
                                }
                            } %}

                            <span data-moorl-svg-loader
                                  data-moorl-svg-loader-options='{{ svgLoaderOptions|json_encode }}'
                                  title="{{ product.translated.name }}"></span>
                        {% else %}
                            {% sw_thumbnails 'custom-control-label-thumbnail' with {
                                media: product.cover.media,
                                attributes: {
                                    'alt': product.translated.name,
                                    'class': 'product-image is-cover'
                                }
                            } %}
                        {% endif %}
                    {% endif %}

                    <div class="custom-control-label-media-overlay">
                        <div class="custom-control-label-title">
                            {{ product.translated.name }}
                        </div>
                    </div>
                </label>
            </div>
        {% endfor %}
    {% endset %}

    {% block option_slider %}
        {% set optionSliderSettings = {
            productboxMinWidth: '200px',
            slider: {
                navPosition: 'bottom',
                gutter: 15,
                autoplayButtonOutput: false,
                nav: false,
                controls: true,
                autoplay: false,
                loop: false
            }
        } %}

        {% set elementCss = [
            "--image-slider-height: '120px'}",
            "--image-slider-object-fit: 'cover'}",
        ] %}

        {% block option_slider_element %}
            <div
                    class="base-slider"
                    data-product-slider="true"
                    data-product-slider-options='{{ optionSliderSettings|json_encode }}'
            >
                <div
                        class="product-slider-container"
                        data-product-slider-container="true"
                        style="{{ elementCss|join(";") }}"
                >
                    {{ optionSliderContent }}
                </div>

                <div class="product-slider-controls-container">
                    <div class="base-slider-controls" data-product-slider-controls="true">
                        <button type="button" class="base-slider-controls-prev gallery-slider-controls-prev">
                            {% sw_icon 'arrow-head-left' %}
                        </button>

                        <button type="button" class="base-slider-controls-next gallery-slider-controls-next">
                            {% sw_icon 'arrow-head-right' %}
                        </button>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endblock %}
{% endblock %}
